// Add your settings here

$cf-blue: #192858;
$cf-red: #a40329;

.black-text {
    color: #000;
}

.white-text {
    color: #fff;
}

.blue-text {
    color: $cf-blue;
}

.display-4 {
    font-size: 2.5rem !important;
}